body {
  background-color: rgb(245, 224, 207);
}
h1 {
  color: darkolivegreen;
  text-align: center;
}

h2 {
  color: darkolivegreen;
  text-align: center;
}

h3 {
  color: darkolivegreen;
  text-align: center;
}
p {

  font-family: Verdana;
  color: rgb(145, 119, 6);
}

li a:hover{
  background-color: rgb(107, 106, 105);
  color: rgb(255, 255, 255);
}

ul{
  background-color: rgb(160, 203, 238);
  color: rgb(252, 137, 84);
}

ol{
  background-color: rgb(160, 203, 238);
  color: rgb(252, 137, 84);
}

tr:nth-child(odd) {
  background-color: #9e9d9d;
}

table, th, td{
  font-family: serif;
  font-size: 1.5em;
  border: 1px solid black;
}